

@media all and (min-width:1025px){
    .form-project {
        margin: auto;
        margin-top: 20%;
    }
   
    .icon_thumbs_up{
        left:48%;
    }
   
}

@media all and (max-width:1024px){
    .form-project {
        margin: auto;
        margin-top: 20%;
    }
    /* .guide img {
        width: 600px;
        margin-top: 20%;
    }
    .guide .close {
        margin-top: 20%;
    } */

    .map_tour {
        top: 10%;
        width: 70%;
        height: 400px;
        margin: auto;
        margin-top: 20%;
        position: relative;
    }
    .form-group {
        width: 75%;
        
    }
    .form_contact{
      
        width: 40%;
       
        top: 20%;
        left: 30%;
    }
    .contact{
        padding:3rem;
    }
    .btn-sub{
       
        width: 75%;
      
    }
    .menu_tour{
        width: 240px;
    }
    .icon_thumbs_up{
        left:45%;
    }
    .title_menu {
        font-size: 1.1rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1rem;
    }
    .info_image {
       
        height: 40%;
    }
    
}
@media all and (max-width:768px){
    .guide_tour{
        display: block;
      width: 350px;
      left: 10%;
        top:30%;
        padding:1rem;
    }
    .img_guide{
        height: 180px;
    width: 100px;
}
/* .list_menu_tour{
    height: 45vh;
} */
.form-project{
    width: 60%;
    margin-top: 40%;
}
.col_info_image {
    height: 200px;
}

}

@media all and (max-width: 800px){
    .map_tour {
        top: 10%;
        width: 100%;
        height: 400px;
        margin: auto;
        margin-top: 30%;
        position: relative;
    }
       /* .guide img {
        width: 400px;
        margin-top: 30%;
    }
    .guide .close {
        margin-top: 30%;
          
    } */
    .form-project {
            margin: auto;
            margin-top: 25%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 75%;
    }
    .btn-sub{
        width: 75%;
    }
   
    .icon_thumbs_up{
        left:45%;
    }
    .title_menu {
        font-size: 1rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1rem;
    }
    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }
    .guide_tour{
        display: block;
      width: 350px;
      left: 30%;
        top:30%;
        padding:1rem;
    }
    .img_guide{
        height: 180px;
    width: 100px;
}
/* .list_menu_tour{
    height: 45vh;
} */
.form-project{
    width: 60%;
    margin-top: 40%;
}
.col_info_image {
    height: 200px;
}
.menu_tour{
    left:-120%;
    width: 200px;
    margin-top:35%;
}
.logo_tour {
      
    padding: 0rem 1rem;
 
    width: 160px;
    height: 60px;
  
    margin-top: 2%;
}
.show_menu {
    margin-top: 35%;
}

}

@media all and (max-width:600px){
    #icon_menu{
        display: block;
    }
    .logo_project{
        width: 180px ;
        top:6%;
    }
    .item_icon {
        width: 43px;
        height: 43px;
        padding: 0.7rem 0.7rem;
    }
   .list_menu{
    display: none;
    /* display: grid; */
   }
   .addlist_menu{
    display: grid;
   }
   .form-project {
    margin: auto;
    margin-top: 50%;
}
.map_tour {
    top: 10%;
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 30%;
    position: relative;
}
   /* .guide img {
    width: 300px;
    margin-top: 50%;
    } */
    /* .guide .close {
        margin-top: 50%;
      
    } */
    .icon_thumbs_bottom {
        left:35%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 100%;
    }
    .btn-sub{
        width: 100%;
    }
    .menu_tour{
        left:-120%;
        width: 330px;
    }
    .arrow-right{
        display: block;
    }
    .arrow-left{
        display: none;
    }
    .icon_thumbs_up {
        left: 44%;
    }
   
    .title_menu {
        font-size: 1rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1rem;
    }
    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }
    .guide_tour{
        display: block;
      width: 350px;
      left: 20%;
        top:30%;
        padding:1rem;
    }
    .img_guide{
        height: 180px;
    width: 100px;
}
/* .list_menu_tour{
    height: 45vh;
} */

.menu_tour{
    left:-120%;
    width: 200px;
    margin-top:45%;
}
.logo_tour {
      
    padding: 0rem 1rem;
 
    width: 160px;
    height: 60px;
  
    margin-top: 2%;
}
.show_menu {
    margin-top: 45%;
}
/* popup */
.form-project{
    width: 60%;
}

.info_duan, .info_infomation_image, .popup, .info_information, .image_tra{
    top:35%;
}
.info_general, .info_image{
    width: 80%;
}
.info_image{
    height: auto;
}
.row_info_image {
    display: block;
}
.col_info_image {
    height: 140px;
    width: 100%;
}
.form_popup {
    width: 80%;
    height: 40%;
    overflow: hidden;
}
.list_form_popup{
    overflow: auto;
}
}

@media all and (max-width:480px){
    #icon_menu{
        display: block;
    }
    .logo_project{
        width: 180px ;
        top:6%;
    }
    .item_icon {
        width: 40px;
        height: 40px;
    }
   .list_menu{
    display: none;
    /* display: grid; */
   }
   .addlist_menu{
    display: grid;
   }
   .form-project {
    margin: auto;
    margin-top: 40%;
    width: 90%;
}
.map_tour {
    top: 10%;
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 30%;
    position: relative;
}
   /* .guide img {
    width: 300px;
    margin-top: 50%;
    } */
    .item_icon{
        padding: 0.5rem 0.5rem;
    }
    /* .guide .close {
        margin-top: 50%;
       
    } */
    .icon_thumbs_bottom {
        left:35%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 100%;
    }
    .btn-sub{
        width: 100%;
    }
  
    .arrow-right{
        display: block;
    }
    .arrow-left{
        display: none;
    }
    .icon_thumbs_up {
        left: 40%;
    }
    .title_menu {
        font-size: 1.115rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1rem;
    }

    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }
    .guide_tour{
        display: block;
      width: 350px;
      left: 10%;
        top:30%;
        padding:1rem;
    }
    .img_guide{
        height: 180px;
    width: 100px;
}
/* .list_menu_tour{
    height: 45vh;
} */
.menu_tour{
    left:-120%;
    width: 200px;
    margin-top:55%;
}
.logo_tour {
      
    padding: 0rem 1rem;
 
    width: 160px;
    height: 60px;
  
    margin-top: 2%;
}
.show_menu {
    margin-top: 55%;
}
/* popup */

.info_duan, .info_infomation_image, .popup, .info_information, .image_tra{
    top:35%;
}
.info_general, .info_image{
    width: 80%;
}
.info_image{
    height: auto;
}
.row_info_image {
    display: block;
}
.col_info_image {
    height: 140px;
    width: 100%;
}
.form_popup {
    width: 80%;
    height: 40%;
    overflow: hidden;
}
.list_form_popup{
    overflow: auto;
}
}

@media all and (max-width:320px){

    #icon_menu{
        display: block;
    }
    .logo_project{
        width: 180px ;
        top:6%;
    }
    .item_icon {
        width: 35px;
        height: 35px;
    }
   .list_menu{
    display: none;
    /* display: grid; */
   }
   .addlist_menu{
    display: grid;
   }
   .form-project{
    position: absolute;
    top: 30%;
    margin-top: 0;
    width: 90%;
    height: 30%;
   }
   .map_tour {
    top: 10%;
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 30%;
    position: relative;
}
    .icon_thumbs_bottom {
        left:35%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 100%;
    }
    .btn-sub{
        width: 100%;
    }
    .item_icon{
        padding: 0.5rem 0.5rem;
    }

    .menu_tour{
        left:-120%;
        width: 200px;
        margin-top:55%;
    }
    .arrow-right{
        display: block;
    }
    .arrow-left{
        display: none;
    }
    .title_menu {
        font-size: 0.9rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 0.8rem;
    }
    .icon_thumbs_up {
        left: 40%;
    }

    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }

    .guide_tour{
        display: block;
      width: 300px;
      left: 3%;
        top:30%;
        padding:1rem;
    }
    .img_guide{
        height: 180px;
    width: 100px;
    }
    /* .list_menu_tour{
        height: 45vh;
    } */
    .logo_tour {
      
        padding: 0rem 1rem;
     
        width: 160px;
        height: 60px;
      
        margin-top: 2%;
    }
    .show_menu {
        margin-top: 55%;
    }
    /* popup */

    .info_duan, .info_infomation_image, .popup, .info_information, .image_tra{
        top:35%;
    }
    .info_general, .info_image{
        width: 90%;
    }
    .info_image{
        height: auto;
    }
    .row_info_image {
        display: block;
    }
    .col_info_image {
        height: 140px;
        width: 100%;
    }
    .form_popup {
        width: 90%;
        height: 40%;
        overflow: hidden;
    }
    .list_form_popup{
        overflow: auto;
    }


    
}
