

@media all and (min-width:1025px){
    .form-project {
        margin: auto;
        margin-top: 20%;
    }
   
    .icon_thumbs_up{
        left:48%;
    }
   
}

@media all and (max-width:1024px){
    .form-project {
        margin: auto;
        margin-top: 20%;
    }
    /* .guide img {
        width: 600px;
        margin-top: 20%;
    }
    .guide .close {
        margin-top: 20%;
    } */

    .map_tour iframe {
        top: 10%;
        width: 800px;
        height: 600px;
        justify-content: center;
        text-align: center;
        margin-top: 20%;
    }
    .map_tour .close{
        margin-top: 20%;
    }
    .form-group {
        width: 75%;
        
    }
    .form_contact{
      
        width: 40%;
       
        top: 20%;
        left: 30%;
    }
    .contact{
        padding:3rem;
    }
    .btn-sub{
       
        width: 75%;
      
    }
    .menu_tour{
        width: 340px;
    }
    .icon_thumbs_up{
        left:45%;
    }
    .title_menu {
        font-size: 1.315rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1.2rem;
    }
    .guide_tour{
        display: flex;
        width: 60%;
        left:20%;
        top:30%;
    }
    .guide_img{
        height: 200px;
        width: 300px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    
    .text_hd {
        
        padding-left: 0rem;
    }
    .guide1{
        
        margin-top: 0.5rem;
    }
}
@media all and (max-width:768px){

}

@media all and (max-width: 800px){
    .map_tour iframe{
        width:500px;
        margin-top:20%;
        height:500px;
    }
       .map_tour .close{
        margin-top: 20%;
       
    }
       /* .guide img {
        width: 400px;
        margin-top: 30%;
    }
    .guide .close {
        margin-top: 30%;
          
    } */
    .form-project {
            margin: auto;
            margin-top: 25%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 75%;
    }
    .btn-sub{
        width: 75%;
    }
    .menu_tour{
      
        width: 340px;
    }
    .icon_thumbs_up{
        left:45%;
    }
    .title_menu {
        font-size: 1.215rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1.2rem;
    }
    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }
    .guide_tour{
        display: flex;
        width: 60%;
        left:20%;
        top:30%;
    }
    .guide_img{
        height: 200px;
        width: 300px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    
    .text_hd {
        
        padding-left: 0rem;
    }
    .guide1{
        
        margin-top: 0.5rem;
    }
}

@media all and (max-width:600px){
    #icon_menu{
        display: block;
    }
    .logo_project{
        width: 180px ;
        top:6%;
    }
    .item_icon {
        width: 50px;
        height: 50px;
        padding: 0.7rem 0.7rem;
    }
   .list_menu{
    display: none;
    /* display: grid; */
   }
   .addlist_menu{
    display: grid;
   }
   .form-project {
    margin: auto;
    margin-top: 50%;
}
   .map_tour iframe{
    width:auto;
    margin-top:30%;
    height:400px;
   }
   .map_tour .close{
    margin-top: 30%;
   
   }
   /* .guide img {
    width: 300px;
    margin-top: 50%;
    } */
    /* .guide .close {
        margin-top: 50%;
      
    } */
    .icon_thumbs_bottom {
        left:35%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 100%;
    }
    .btn-sub{
        width: 100%;
    }
    .menu_tour{
        left:-120%;
        width: 330px;
    }
    .arrow-right{
        display: block;
    }
    .arrow-left{
        display: none;
    }
    .icon_thumbs_up {
        left: 44%;
    }
   
    .title_menu {
        font-size: 1.215rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1.2rem;
    }
    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }
    .guide_tour{
        display: flex;
        width: 80%;
        left:5%;
        top:30%;
    }
    .guide_img{
        height: 200px;
        width: 300px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    
    .text_hd {
        
        padding-left: 0rem;
    }
    .guide1{
        
        margin-top: 0.5rem;
    }
}

@media all and (max-width:480px){
    #icon_menu{
        display: block;
    }
    .logo_project{
        width: 180px ;
        top:6%;
    }
    .item_icon {
        width: 40px;
        height: 40px;
    }
   .list_menu{
    display: none;
    /* display: grid; */
   }
   .addlist_menu{
    display: grid;
   }
   .form-project {
    margin: auto;
    margin-top: 50%;
}
   .map_tour iframe{
    width:auto;
    margin-top:30%;
   }
   .map_tour .close{
    margin-top: 30%;
   right:11%;
   }
   /* .guide img {
    width: 300px;
    margin-top: 50%;
    } */
    .item_icon{
        padding: 0.5rem 0.5rem;
    }
    /* .guide .close {
        margin-top: 50%;
       
    } */
    .icon_thumbs_bottom {
        left:35%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 100%;
    }
    .btn-sub{
        width: 100%;
    }
    .menu_tour{
        left:-120%;
        width: 290px;
    }
    .arrow-right{
        display: block;
    }
    .arrow-left{
        display: none;
    }
    .icon_thumbs_up {
        left: 40%;
    }
    .title_menu {
        font-size: 1.115rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1rem;
    }

    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }
    .guide_tour{
        display: flex;
        width: 90%;
        left:5%;
        top:30%;
    }
    .guide_img{
        height: 200px;
        width: 300px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    
    .text_hd {
        
        padding-left: 0rem;
    }
    .guide1{
        
        margin-top: 0.5rem;
    }
}

@media all and (max-width:320px){

    #icon_menu{
        display: block;
    }
    .logo_project{
        width: 180px ;
        top:6%;
    }
    .item_icon {
        width: 35px;
        height: 35px;
    }
   .list_menu{
    display: none;
    /* display: grid; */
   }
   .addlist_menu{
    display: grid;
   }
   .form-project{
    position: absolute;
    top:30%;
    margin-top:0;
   }
   .map_tour iframe{
    width:auto;
    margin-top:30%;
   }
   .map_tour .close{
    margin-top: 30%;
    right: 3%;
   }
   /* .guide img {
    width: 300px;
    margin-top: 50%;
    }
    .guide .close {
        margin-top: 50%;
        right: 5%;
    } */
    .icon_thumbs_bottom {
        left:35%;
    }
    .form_contact {
        width: 80%;
        left: 10%;
    }
    .contact {
        padding: 2rem;
    }
    .form-group {
        width: 100%;
    }
    .btn-sub{
        width: 100%;
    }
    .item_icon{
        padding: 0.5rem 0.5rem;
    }

    .menu_tour{
        left:-120%;
        width: 270px;
    }
    .arrow-right{
        display: block;
    }
    .arrow-left{
        display: none;
    }
    .title_menu {
        font-size: 1.115rem;
       
    }
    .item_menu ul{
        padding-left:1rem;
    }
    .link_menu {
        font-size: 1rem;
    }
    .icon_thumbs_up {
        left: 40%;
    }

    .header_info{
        display:block;
        width:100%;
    }
    .title_info{
        text-align:center;
        width:100%;
    }
    .cart_info{
        text-align:end;
        padding:0.5rem 0rem;
        margin-bottom:1rem;
        margin-right: 0rem;
        width: 100%;
       
    }
    .content_info{
        text-align: justify;
     display: block;
     padding:0;
    }
    .content_img_info{
        width:100%;
    }
    .content_info span{
     
         width:100%;
         line-height: 1.6;
    }

    .guide_tour{
        display: block;
        width: 90%;
        left:5%;
        top:10%;
    }
    .guide_img{
    height: 200px;
    width: 100px;
    justify-content: center;
    text-align: center;
    margin: auto;
    }
    
    .text_hd {
        
        padding-left: 0rem;
    }
    .guide1{
        
        margin-top: 0.5rem;
    }
    
}
