
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.menu_icon{
    position: absolute;
    z-index: 1;
    width: 100%;

 
    right:0;
    left:0;
    bottom: 0;
}
.show_icon{
    position: fixed;
    bottom: 30%;
    right:0;
    width: 100%;

}
.list_icon{
    width: auto;
    display: block;
    /* right: 0; */
    /* margin: auto; */
    /* justify-content: end; */
    /* padding-right: 2%; */
    z-index: 9999999999;
    position: fixed;
    right: 0;
    bottom: 20%;
    padding-left:0;

}
.item_icon{
    list-style: none;
   
    margin-right: 1rem;
    border-radius: 10px;
    text-align: center;
 background-color: rgba(0, 0, 0, 0.539);
    padding: 0.4rem 0.7rem;
    margin-top:1rem;
    color: white;
   
}

.item_icon:hover{
    background-color: rgba(104, 99, 99, 0.539);
}
.list_icon .item_icon{
    float: right;
}
.img-icon{
    width: 100%;
    height: 100%;
}
.guide{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    /* top: 32%; */
    background: #00000052;
    display: none;
    
}
.guide img{
    width: 400px;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}
.guide .close{
    position: fixed;
    margin-top: 10%;
    font-size: 25px;
    background: brown;
    padding: 0rem 0.5rem;
    cursor: pointer;
}
/* xử lý video */
.form{
    display: none;
}
.video{
    display: none;
}
.video, .form, .info{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    /* top: 32%; */
    background: #00000052;
    display: none;
}
.video iframe {
    top: 10%;
    width: 1000px;
    height: 600px;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}
.video .close{
    position: fixed;
    margin-top: 10%;
    font-size: 25px;
    background: brown;
    padding: 0rem 0.5rem;
    cursor: pointer;
}
/* info */


.list_sub{
    display: flex;
    position: absolute;
    bottom: 10%;
}
.list-icon-sub{
    padding-right:1rem;
    padding-left:0px;
}

.form-project{
    background-color: #ffff;
    margin-top:10%;
    height:auto;
    padding:4rem;
    color:black;
    position: relative;
    width: 70%;
   
}
.content-form{
   padding-top:2rem;
   text-align: left;
}
.close-form{
    position: absolute;
    top:0;
    right:0;
    font-size: 22px;
    background: brown;
    padding: 0rem 0.5rem;
    color:#ffffff;
    cursor: pointer;
}

.thumblist{
    width: 100%;
    height: 130px;
    /* background-color: rgba(0, 0, 0, 0.481); */
    position: fixed;
    z-index: 1000;
    bottom: 0%;
}
.icon_thumbs{
    /* text-align: center; */
    width: 80px;
    height: fit-content;
    border-radius: 13px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin-bottom: 0px;
    transition: all 500ms ease 0s;
    margin: auto;
    color:#fff;
   
  
}
.icon_thumbs_up{
    bottom: 0;
    left:50%;
    position: absolute;
    margin: auto;
   
    width: 80px;
    height: fit-content;
    border-radius: 13px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin-bottom: 0px;
    /* transition: all 500ms ease 0s; */
    margin: auto;
    color:#fff;
    /* transform: rotate(0deg); */
   
}

.icon_thumbs_down{
    transform: rotate(180deg);
    top:-120%;
    position: absolute;
    -webkit-animation: 1s up forwards;
}
.list-thumbs-active{
    background-color: rgba(0, 0, 0, 0.481);
    width: 100%;
    height: 100%;
    /* top: 0%; */
    transition: 0.3s;
    -webkit-animation: 1s up forwards;

    /* bottom:0%; */
}
@keyframes up{
    from{
        bottom:-120%;
     }
     to{
        bottom:0%;
     }
}
@keyframes down{
    from{
        bottom:0%;
     }
     to{
        bottom:-120%;
     }
}

.list-thumbs{
    background-color: rgba(0, 0, 0, 0.481);
    width: 100%;
    height: 100%;
    bottom:-120%;
    transition: 0.5s;
    /* -webkit-animation: 1s down forwards; */
   
}
.slick-prev, .slick-next{
   
}
.item-thumbs{
    margin:0.5rem 1rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
.item-thumbs:hover .img-thumb{
    transform: scale(1.2);
}
.list-thumbs .slick-list{
    height: 100%;
}
.list-thumbs .slick-list .slick-track{
    height: 85%;
}
.item-thumbs img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    transition: 0.3s;
}
.content-thumb{
    position: absolute;
    padding: 0.2rem 0.7rem;
    background: #00000078;
    bottom: 0;
    width: 100%;
    color:#fff;
    
 
}
.slick-list.draggable{
    padding: 0px 60px 15px !important;
}
.title-thumb{
    font-size: 12px;
    color: #fff !important;
   
}
.icon_thumbs_rotate{
        -webkit-transform: rotateX(180deg);
     bottom: 0;
     position: absolute;
     /* width: 100%; */
     left:50%;
    
}
@keyframes chuyenxuong{
    form{
        transform: translateY(0%);
    }
    to{
        transform: translateY(110%);
    }
}
.item-thumbs.slick-slide.slick-current.slick-active.slick-center{
    /* background: azure !important; */
}
.logo_project{
    position: absolute;
    z-index: 9;
    width: 300px;
    top: 2%;
    left: 3%;
}
.logo_project img{
    width: 100%;
}
.list-thumbs .slick-prev:before{
    /* content: url(../img/prev.svg); */
}
.list-thumbs .slick-next:before, [dir=rtl] .list-thumbs .slick-prev:before {
    content: url(../img/next.svg);
}
.active{
    /* background: azure !important; */
    border-radius:10px;
    border:3px solid #fff;
}

.minimap{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #00000073;
    z-index: 9;
}
.image_map{
    width: 20%;
    top:10%;
    left:40%;
    position: absolute;
   
}
.minimap{
    display: none;
}
.arrow{
    top:-20%;
   
    font-size: 20px;
    position: absolute;
    margin: auto;
    width: 50px;
    height: fit-content;
    border-radius: 13px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin-bottom: 0px;
    transition: all 500ms ease 0s;
    margin: auto;
}

.next_arrow{
    right:4%;
}
.prev_arrow{
    left:4%
}
.list_menu{
    padding-left:0;
}
.menu{
    display: grid;
    padding-left:0;
}
.menu_sub{
    display: grid;
    padding-left:0;
   
}

#icon_menu{
    display: none;
}
.form-group {
    width: 75%;
    margin: auto;
    margin-top: 1rem;
}
.form_contact{
    background: aliceblue;
    margin-top: 20%;
    /* padding: 3rem; */
    width: 40%;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 30%;
}
.contact{
    padding:3rem;
}
.btn-sub{
    appearance: none;
    color: white;
    background: rgb(255 193 7);
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    width: 75%;
    margin: 20px 0px 0.3em;
    padding: 0.8em 0.8em;
    cursor: pointer;
    transition: all 500ms ease 0s;
}
.title_contact{
    text-transform: uppercase;
    color:#000;

}
   
/* .item-thumbs.slick-slide.slick-cloned {
    display: none;
} */
#icon_menusub{
    top:0;
    padding: 0.4rem 1rem;
}
.hide_show_menusub{
    position: absolute;
    z-index: 1;
    right: 0;
}

/* menu tour */
.menu_tour{
    position: fixed;
    top:0;
    left:0%;
    z-index: 1;
    width:340px;
    height:80%;
    background: none rgba(255, 255, 255, 0.8);
    /* background-color: rgb(0 0 0 / 67%); */
}
.show_menu_tour{
    transition: 0.3s;
    -webkit-animation: 1s slide_right forwards;
}
@keyframes slide_right{
    from{
        left:-100%;
     }
     to{
        left:0%;
     }
}
.hide_menu_tour{
    transition: 0.3s;
    -webkit-animation: 1s slide_left forwards;
}
@keyframes slide_left{
    from{
        left:0%;
     }
     to{
        left:-100%;
     }
}

.logo_tour{
 
    margin-top:10%;
    text-align: center;
    padding: 0rem 3rem;
}
.main_menu{
    width: 100%;
    margin-top:10%;
}
.list_menu_tour{
    width:100%;
    height:55vh;
    margin-bottom: 0;
    transition: 0.4s;
    padding-left:1rem;
    overflow: hidden;
}
.item_menu{
    padding:0.2rem;
    margin-top:10px;
}
.item_sub{
    padding:0.2rem;
    margin-top:10px;
}
.item_sub:hover{
    transform: translateX(-4px);
    transition: 0.2s;
}
.link_menu{
    font-size: 1.215rem;
    font-weight: 600;
    color:#000;
    font-family: 'Roboto', sans-serif;
}
.link_menu{
    color:#000 !important;
}
.title_menu{
    text-transform: uppercase;
    font-size: 1.415rem;
    font-weight: 700;
    color:#000;
}
.list_menu_tour:hover{
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
   
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .show_menu{
    position: fixed;
    top:8%;
    width: 35px;
    height: 50px; 
    z-index: 2000;
    left: 0;
}
.arrow-right{
    display: none;
}
.active_menu a{
    color:#1c4690 !important;
    
}
.arrow_menu{
    color:#fff !important;
    /* width: 50px; */
    padding:0.7rem;
    border-right:12px;
    background-color: #000;
}
/* css popup blur */
.header_info{
    display:flex;
    width:100%;
}
.title_info{
    text-align:center;
    width:70%;
}
.cart_info{
    text-align:end;
    padding:0.7rem 0rem;
    margin-bottom:1rem;
    right: 0;
    float: right;
    width: 30%;
    margin-right: 2rem;
}
.content_info{
    text-align: justify;
    padding: 0px 1.5rem;
    display: flex;
}
.content_img_info{
    width:50%;
}
.content_info span{
    padding-left:2rem;
     width:50%;
     line-height: 1.6;
}
